/* src/ToastifyCustom.css */

.toastify-custom {
    font-size: 0.9em;
    border-radius: 8px;
    background: #e8f5e9;
    color: #388e3c;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .Toastify__toast--info {
    background: #e8f5e9;
  }
  
  .Toastify__toast--success {
    background: #e8f5e9;
  }
  
  .Toastify__toast--warning {
    background: #f9e79f;
  }
  
  .Toastify__toast--error {
    background: #f5b7b1;
  }
  
  .Toastify__toast-container {
    width: auto;
  }
  
  .Toastify__toast {
    border-radius: 8px;
    margin: 8px 0;
    padding: 10px 20px;
  }
  